<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/css/login.css' />
</head>

<div class='card' style='width: 20rem;'>
  <div class='card-body'>
    <form class='login-card'>
      <div class='mb-3'>
        <label for='email-login' class='form-label'>Email address</label>
        <input
          type='email'
          class='form-control'
          id='email-login'
          aria-describedby='emailHelp'
        />
      </div>
      <div class='mb-3'>
        <label for='password-login' class='form-label'>Password</label>
        <input type='password' class='form-control' id='password-login' />
      </div>
      <button type='submit' class='btn btn-primary'>Login</button>
      <a class='register' href='/register'>Register</a>
    </form>
  </div>
</div>

<script src='/js/login.js'></script>