<div class='card' style='width: 20rem;'>
  <div class='card-body'>
    <form class='register-card'>
      <div class='mb-3'>
        <label for='register-first-name' class='form-label'>First Name</label>
        <input
          type='text'
          class='form-control'
          id='register-first-name'
          aria-describedby='firstNameHelp'
        />
      </div>
      <div class='mb-3'>
        <label for='register-last-name' class='form-label'>Last Name</label>
        <input
          type='text'
          class='form-control'
          id='register-last-name'
          aria-describedby='lastNameHelp'
        />
      </div>
      <div class='mb-3'>
        <label for='register-email' class='form-label'>Email address</label>
        <input
          type='email'
          class='form-control'
          id='register-email'
          aria-describedby='emailHelp'
        />
      </div>
      <div class='mb-3'>
        <label for='register-password' class='form-label'>Password</label>
        <input type='password' class='form-control' id='register-password' />
      </div>
      <button type='submit' class='btn btn-primary'>Create Account</button>
      <a class='login' href='/'>Return</a>
    </form>
    <!-- <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>

<script src='/js/register.js'></script>