html,
body {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
}

.container {
  border: 1px solid red;
}

.title {
  border: 1px solid red;
  margin-top: 50px;
}

.row {
  border: 1px solid red;
}

.row .contact-info {
  border: 1px solid red;
}

.title {
  border: 1px solid red;
}

.add {
  border: 1px solid red;
}

a {
  text-decoration: none;
}
#logout{
  align-items: flex-end;
}