html,
body {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
}

.header {
  font-size: 30px;
}

.title {
  margin-top: 50px;
}

.row .contact-info {
  margin: 5px;
}

.contact-info:hover {
  background-color: lightgrey;
}

.btn-toolbar {
  display: inline-block;
  align-items: flex-end;
}

a {
  text-decoration: none;
}
#logout {
  align-items: flex-end;
}
